<umd-element-carousel-image resize>
  <div slot="images">
    <img src="https://brandportal.umd.edu/m/57381a339696cbbd/Square-TerrapinBaby_05202018_1883-tif.jpg" alt="Image 1"
      data-reference="one" data-caption="Image caption">
    <img src="https://brandportal.umd.edu/m/3b312bf001fda9f3/Hero_web-DriskellCenter_PosingBeauty_SC_02012019_4311.jpg"
      alt="Image 2" data-reference="two">
    <img src="https://brandportal.umd.edu/m/2af0dd6b6ef78a48/Hero_web-Students_Outdoors_02052019_7673.jpg"
      alt="Image 3">
    <img src="https://brandportal.umd.edu/m/226baa823376ccd2/original/CommencementVirtualBackgrounds_UMD_0001-JPG.png"
      alt="Image 4">
  </div>
  <div slot="headlines">
    <h2 data-reference="one">
      Headline 1
    </h2>
    <h2 data-reference="two">
      Optional header, Optional Carousel
    </h2>
  </div>
  <div slot="texts">
    <div data-reference="one">
      <p>
        Lorem ipsum dolor sit amet consectetur. Quam nisl fames sapien
        suspendisse fermentum urna lorem gravida mauris. Tempor iaculis nunc
        nisi nam cursus tortor. Non proin convallis at habitasse. Ut aliquet
        purus quis mollis. Mi condimentum quisque malesuada faucibus netus
        ullamcorper tristique venenatis. Urna pellentesque magnis tellus mollis
        aliquam consectetur. Aliquam rhoncus nisl et viverra nec sed leo
        ullamcorper at. Pretium est fusce odio vulputate.
      </p>
    </div>
    <div data-reference="two">
      <p>
        Lorem ipsum dolor sit amet consectetur. Quam nisl fames sapien
        suspendisse fermentum urna lorem gravida mauris. Tempor iaculis nunc
        nisi nam cursus tortor. Non proin convallis at habitasse. Ut aliquet
        purus quis mollis. Mi condimentum quisque malesuada faucibus netus
        ullamcorper tristique venenatis. Urna pellentesque magnis tellus mollis
        aliquam consectetur. Aliquam rhoncus nisl et viverra nec sed leo
        ullamcorper at. Pretium est fusce odio vulputate.
      </p>
    </div>
  </div>
</umd-element-carousel-image>