  <umd-element-card-overlay type="image">
    <img slot="image" src="https://brandportal.umd.edu/m/3adf8b21613832fc/Square-IribeCenter_04062021_SC_7552.jpg"
      alt="Example Alt Text">

    <div slot="eyebrow">
      <p>
        Optional Eyebrow
      </p>
    </div>

    <h2 slot="headline">
      <a href="https://umd.edu">
        <span class="sr-only">Text for Screen Reader</span>
        <span aria-hidden="true">Lorem Ipsum Dolor Sit Amet Consect</span>
      </a>
    </h2>

    <div slot="text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
      </p>
    </div>

    <div slot="date">
      <date>
        September 31, 2023
      </date>
    </div>

    <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
      <a href="/"><span>Learn More</span></a>
    </umd-element-call-to-action>
  </umd-element-card-overlay>