<umd-element-accordion-item theme="{{ theme }}">
  <div slot="headline">
    {{ headline }}
  </div>
  <div slot="body">
    {% block body_slot %}{% endblock %}
  </div>
</umd-element-accordion-item>
