{#
/**
 * @file
 * UMD Design System Carousel card component.
 *
 * Available variables:
 * - headline: string.
 * - headline_url: string (url)
 * - cta_slot: Call to Action (slot)
 * - cards_slot: Cards (slot)
 * - body_slot: WYSIWYG (slot).
*/
#}

<umd-element-carousel-cards resize="">
  <h2 slot="headline">
    <a href="{{ headline_url }}">
      <span class="sr-only">{{ headline }}</span>
      <span aria-hidden="true">{{ headline }}</span>
    </a>
  </h2>
  <div slot="text">
    {% block body_slot %}{% endblock %}
  </div>
  {% block cta_slot %}{% endblock %}
  <div slot="cards"
    style="width: 883px;
    transition: none 0s ease 0s;
    transform: translateX(0px);
    display: flex;
    justify-content: space-between;">
    {% block cards_slot %}{% endblock %}
  </div>
</umd-element-carousel-cards>