<umd-element-carousel-cards resize="">
    <h2 slot="headline">
        <a href="https://umd.edu">
            <span class="sr-only">Text for Screen Reader</span>
            <span aria-hidden="true">Lorem Ipsum Dolor Sit</span>
        </a>
    </h2>
    <div slot="text">
        <p>
            Duis reprehen eu fugiat.
                Excepteur occaecat, voluptate. Ut enim ad minim veniam, quis nostrud exercitation ullamco labori nisi ut a <em>Nostrud</em>.
        </p>
    </div>
    <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
        <a href="/"><span>Learn More</span></a>
    </umd-element-call-to-action>
    <div slot="cards"
        style="width: 883px; transition: none 0s ease 0s; transform: translateX(0px); display: flex; justify-content: space-between;">
        <umd-element-card-overlay type="image" style="width: 429.5px; height: 456px;">
            <img slot="image" src="https://brandportal.umd.edu/m/32a10cb61438d320/Hero_web-PaintBranchBridge_Lights_07152018_6745_Final.jpg" alt="Example Alt Text">
            <div slot="eyebrow">
                <p>
                    Optional Eyebrow
                </p>
            </div>
            <h2 slot="headline">
                <a href="https://umd.edu">
                    <span class="sr-only">Text for Screen Reader</span>
                    <span aria-hidden="true">Lorem Ipsum Dolor Sit Amet</span>
                </a>
            </h2>
            <div slot="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ut labore.
                </p>
            </div>
            <div slot="date">
                <date>
                    September 31, 2023
                </date>
            </div>
            <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
                <a href="/"><span>Learn More</span></a>
            </umd-element-call-to-action>
        </umd-element-card-overlay>

        <umd-element-card-overlay type="image" style="width: 429.5px; height: 456px;">
            <img slot="image" src="https://brandportal.umd.edu/m/7bf8d23702981e40/Medium_web-IribeCenter_JC_01072019_1191.jpg" alt="Example Alt Text">
            <div slot="eyebrow">
                <p>
                    Optional Eyebrow
                </p>
            </div>
            <h2 slot="headline">
                <a href="https://umd.edu">
                    <span class="sr-only">Text for Screen Reader</span>
                    <span aria-hidden="true">Ipsum Dolor Sit Amet Consectetur</span>
                </a>
            </h2>
            <div slot="text">
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a
                </p>
            </div>
            <div slot="date">
                <date>
                    March 20, 2023
                </date>
            </div>
            <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
                <a href="/"><span>Learn More</span></a>
            </umd-element-call-to-action>
        </umd-element-card-overlay>

        <umd-element-card-overlay theme="dark" style="width: 429.5px; height: 456px; display: none;">
            <div slot="eyebrow">
                <p>
                    Optional Eyebrow
                </p>
            </div>
            <h2 slot="headline">
                <a href="https://umd.edu">
                    <span class="sr-only">Text for Screen Reader</span>
                    <span aria-hidden="true">Sit Amet Consectetur</span>
                </a>
            </h2>
            <div slot="text">
                <p>
                    Sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div slot="date">
                <date>
                    April 5, 2024
                </date>
            </div>
            <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
                <a href="/"><span>Learn More</span></a>
            </umd-element-call-to-action>
        </umd-element-card-overlay>

        <umd-element-card-overlay type="image" style="width: 429.5px; height: 456px; display: none;">
            <img slot="image" src="https://brandportal.umd.edu/m/55565fbba3b510d6/Hero_web-Campus_Snow_01032022_JC_8215.jpg" alt="Example Alt Text">
            <div slot="eyebrow">
                <p>
                    Optional Eyebrow
                </p>
            </div>
            <h2 slot="headline">
                <a href="https://umd.edu">
                    <span class="sr-only">Text for Screen Reader</span>
                    <span aria-hidden="true">Lorem Ipsum Dolor Sit Amet Consectetur A</span>
                </a>
            </h2>
            <div slot="text">
                <p>
                    Incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
            </div>
            <div slot="date">
                <date>
                    April 5, 2024
                </date>
            </div>
            <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
                <a href="/"><span>Learn More</span></a>
            </umd-element-call-to-action>
        </umd-element-card-overlay>

        <umd-element-card-overlay type="image" style="width: 429.5px; height: 456px; display: none;">
            <img slot="image" src="https://brandportal.umd.edu/m/28973b679519d5c9/Square-HornbakeLibrary_03082023_HH_1859.jpg" alt="Example Alt Text">
            <div slot="eyebrow">
                <p>
                    Optional Eyebrow
                </p>
            </div>
            <h2 slot="headline">
                <a href="https://umd.edu">
                    <span class="sr-only">Text for Screen Reader</span>
                    <span aria-hidden="true">Lorem Ipsum Dolor Sit Amet Consectetur A</span>
                </a>
            </h2>
            <div slot="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam.
                </p>
            </div>
            <div slot="date">
                <date>
                    March 25, 2024
                </date>
            </div>
            <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
                <a href="/"><span>Learn More</span></a>
            </umd-element-call-to-action>
        </umd-element-card-overlay>

        <umd-element-card-overlay theme="dark" style="width: 429.5px; height: 456px; display: none;">
            <div slot="eyebrow">
                <p>
                    Optional Eyebrow
                </p>
            </div>
            <h2 slot="headline">
                <a href="https://umd.edu">
                    <span class="sr-only">Text for Screen Reader</span>
                    <span aria-hidden="true">Dolor Sit Amet Consectetur A</span>
                </a>
            </h2>
            <div slot="text">
                <p>
                    Tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim.
                </p>
            </div>
            <div slot="date">
                <date>
                    March 25, 2024
                </date>
            </div>
            <umd-element-call-to-action slot="actions" type="secondary" theme="dark">
                <a href="/"><span>Learn More</span></a>
            </umd-element-call-to-action>
        </umd-element-card-overlay>
    </div>
</umd-element-carousel-cards>