<umd-element-quote>
  <p slot="quote">
    {{ body }}
  </p>
  {% if attribution %}
    <p slot="attribution">
      {{ attribution }}
    </p>
  {% endif %}
  {% if eyebrow %}
    <p slot="attribution-sub-text">
      {{ eyebrow }}
    </p>
  {% endif %}
  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-quote>
