<umd-element-person-bio>
  <img slot="image"
    src="https://umd-president.transforms.svdcdn.com/production/images/GregoryBall_02012022_JC_0845crop-RGBColor.jpg?w=1080&h=1080&auto=compress%2Cformat&fit=crop&dm=1646801157&s=876b639976ebcde815759d07b47a5c69"
    alt="Image Description">
  <p slot="name">
    Gregory F. Ball
  </p>
  <p slot="job-title">
    Vice President for Research
  </p>
  <a href="https://google.com" slot="association">
    Office of Division of Research
  </a>
  <p slot="pronouns">
    he/him/his
  </p>
  <a slot="phone" href="tel:3013147734">301.314.7734</a>
  <a slot="email" href="mailto:email@umd.edu">email@umd.edu</a>
  <p slot="actions">
    <umd-element-call-to-action type="secondary">
      <a href="/"><span>View Profile</span></a>
    </umd-element-call-to-action>
  </p>
  <div class="umd-rich-text" slot="description">
    <p>
      Gregory F. Ball is the vice president for research for the University of Maryland, College Park (UMCP) and the
      University of Maryland, Baltimore (UMB), overseeing a joint research enterprise that ranks among the top 10
      public institutions in research expenditures, and which garners $1.3 billion in research awards annually.
    </p>
    <p>
      A noted researcher, Ball maintains a lab in the UMCP Department of Psychology and served as dean of the
      university’s College of Behavioral and Social Sciences from 2014 to 2022. Previously, he was vice dean for
      science and research infrastructure in the Krieger School of Arts and Sciences at Johns Hopkins University and
      a professor in its Department of Psychological and Brain Sciences for 23 years. Ball has amassed more than 280
      research publications and works in the area of behavioral neuroscience, and was elected a fellow of the
      American Association for the Advancement of Science in 2014. Ball earned a B.A. in psychology from Columbia
      University and a Ph.D. in psychobiology from the Institute of Animal Behavior at Rutgers University. He
      completed postdoctoral studies at the Rockefeller University in New York.
    </p>
  </div>
</umd-element-person-bio>
