<umd-element-slider-events theme="light">
  <div slot="headline">Upcoming Events</div>
  <umd-element-call-to-action slot="actions" type="secondary" theme="light">
    <a href="/"><span>CTA Link</span></a>
  </umd-element-call-to-action>
  <div slot="event-list">
    <umd-element-events-date theme="light">
      <p slot="month">
        September
      </p>
      <div slot="start-date-iso">
        2024-09-28T12:00:00.000Z
      </div>
      <p slot="headline"><a href="#">Chorus Concern: UMD Chorus Activity</a></p>
    </umd-element-events-date>
    <umd-element-events-date theme="light">
      <p slot="month">
        June
      </p>
      <div slot="start-date-iso">
        2024-06-10T12:00:00.000Z
      </div>
      <p slot="headline"><a href="#">Large Language Model Training & Development</a></p>
    </umd-element-events-date>
    <umd-element-events-date theme="light">
      <p slot="month">
        May
      </p>
      <div slot="start-date-iso">
        2024-05-19T12:00:00.000Z
      </div>
      <p slot="headline">Evening@SMART</p>
    </umd-element-events-date>
    <umd-element-events-date theme="light">
      <p slot="month">
        October
      </p>
      <div slot="start-date-iso">
        2024-10-04T12:00:00.000Z
      </div>
      <p slot="headline"><a href="#">Terrapin STRONG</a></p>
    </umd-element-events-date>
    <umd-element-events-date theme="light">
      <p slot="month">
        January
      </p>
      <div slot="start-date-iso">
        2025-01-04T12:00:00.000Z
      </div>
      <p slot="headline"><a href="#">NextNOW Fest 2024</a></p>
    </umd-element-events-date>
    <umd-element-events-date theme="light">
      <p slot="month">
        January
      </p>
      <div slot="start-date-iso">
        2025-01-04T12:00:00.000Z
      </div>
      <p slot="headline"><a href="#">Lorem Ipsum Dolor </a></p>
    </umd-element-events-date>
  </div>
</umd-element-slider-events>
