<umd-element-slider-events data-theme="{{ theme }}">
  <div slot="headline">{{ headline }}</div>
  {% block cta_slot %}{% endblock %}
  <div slot="event-list">
    {% block dates_slot %}{% endblock %}
  </div>
</umd-element-slider-events>
