<umd-element-person display="block">
  <img slot="image" src="https://brandportal.umd.edu/m/325916a07815dda8/Medium_web-ChrisWalsh_09192018_1746.jpg"
    alt="Image Description">
  <p slot="name">
    Christopher S. Walsh
  </p>
  <p slot="job-title">
    Professor Emeritus
  </p>
  <a slot="email" href="mailto:email@umd.edu">email@umd.edu</a>
</umd-element-person>