{#
/**
 * @file
 * UMD Design System image expand component.
 *
 * Available variables:
 * - accordion_child_slot: Intended for accordion elements (slot).
 * - title: string.
 * - body: string.
 * - image: image.
 * - image_alt: string.
 * - cta_slot: Call to Action (slot).
 * - quotes_slot: WYSIWYG (slot).
 * - body_slot: WYSIWYG (slot).
*/
#}

<umd-layout-image-expand>
    <div slot="content">
      <div class="pl-md" style="max-width: 480px;">
        <h2 class="umd-sans-largest-uppercase umd-adjacent-line-text text-white mb-md" style="color: white;">
          {{ title }}
        </h2>

      <div class="umd-rich-text-dark mb-md">
       {% block body_slot %}{% endblock %}
      </div>

      {% block quotes_slot %}{% endblock %}
      {% block cta_slot %}{% endblock %}
    </div>
  </div>
  <img slot="image" src="{{ image }}" alt="{{ image_alt }}">
</umd-layout-image-expand>