<umd-layout-image-expand>
    <div slot="content">
      <div class="pl-md" style="max-width: 480px;">
        <h2 class="umd-sans-largest-uppercase umd-adjacent-line-text text-white mb-md" style="color: white;">
          {{ title }}
        </h2>

      <div class="umd-rich-text-dark mb-md">
        <p>
          {{ body }}
        </p>
      </div>

      {% block quotes_slot %}{% endblock %}
      {% block cta_slot %}{% endblock %}
    </div>
  </div>
  <img slot="image" src="{{ image }}" alt="{{ image_alt }}">
</umd-layout-image-expand>