{#
/**
 * @file
 * UMD Design System tab component.
 *
 * Available variables:
 * - accordion_child_slot: Intended for accordion elements (slot).
 * - tab_title: string.
 * - tab_heading: string.
 * - body_slot: WYSIWYG (slot).
*/
#}

<div data-title="{{ tab_title }}">
  <div class="content-wrapper">
    {% if tab_heading %}
      <h2 class="umd-sans-larger-bold umd-layout-headline-large">
        {{ tab_heading }}
      </h2>
    {% endif %}
    <div>
      {% block body_slot %}{% endblock %}
    </div>
  </div>
</div>