<div data-title="{{ tab_title }}">
  <div class="content-wrapper">
    {% if tab_heading %}
      <h2 class="umd-sans-larger-bold umd-layout-headline-large">
        {{ tab_heading }}
      </h2>
    {% endif %}
    <div>
      {% block body_slot %}{% endblock %}
    </div>
  </div>
</div>