<umd-element-accordion-item data-visual-open="{{ expand_default }}" data-theme="{{ theme }}">
  <p slot="headline">
    {{ headline }}
  </p>
  <div slot="text" class="umd-rich-text">
    {% block body_slot %}{% endblock %}
  </div>

  {% block cta_slot %}{% endblock %}
</umd-element-accordion-item>
