<umd-element-alert-page icon="true">
  <h2 slot="headline">
    {{ headline }}
  </h2>

  <div slot="body" class="umd-rich-text">
    {{ body }}
  </div>

  {% block cta_slot %}{% endblock %}
</umd-element-alert-page>
