{#
/**
 * @file
 * UMD Design System Card overlay component.
 *
 * Available variables:
 * - card_image: Intended for accordion elements (slot).
 * - card_image_alt: string.
 * - eyebrow: string.
 * - headline_url: string (url).
 * - headline: string.
 * - body_slot: WYSIWYG (slot).
 * - element_date: string (date).
 * - cta_slot: Intended for CTA component (slot).
*/
#}

<umd-element-card-overlay type="image">
  <img slot="image" src="{{ card_image }}"
    alt="{{ card_image_alt }}">

  {% if eyebrow %}
    <div slot="eyebrow">
      <p>
        {% block eyebrow %}{% endblock %}
      </p>
    </div>
  {% endif %}

  <h2 slot="headline">
    {% block headline %}{% endblock %}
  </h2>

  <div slot="text">
    {% block body_slot %}{% endblock %}
  </div>

  {% if element_date %}
    <div slot="date">
      {% block element_date %}{% endblock %}
    </div>
  {% endif %}

  {% block cta_slot %}{% endblock %}
</umd-element-card-overlay>