<umd-element-stat>
  <div slot="stat">
    10th
  </div>
  <div slot="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut
  </div>
  <div slot="sub-text">
    Source: 2022-23 U.S. News &amp; World Report
  </div>
</umd-element-stat>