<umd-element-stat>
  <div slot="stat">
    {{ stat }}
  </div>
  <div slot="text">
    {% block body_slot %}{% endblock %}
  </div>
  {% if subtext %}
    <div slot="sub-text">
      {{ subtext }}
    </div>
  {% endif %}
</umd-element-stat>