<umd-element-card-icon theme="">
  <img slot="image"
    src="https://umd-design.files.svdcdn.com/production/component/building.svg?dm=1717159289&v=1717159265"
    alt="Example Alt Text">
  <h2 slot="headline"><a href="#">Lorem Ipsum Dolor Si</a></h2>
  <div slot="text" class="umd-rich-text">
    {% block body_slot %}{% endblock %}
  </div>
</umd-element-card-icon>