{#
/**
 * @file
 * UMD Design System Card icon component.
 *
 * Available variables:
 * - card_image: string (url).
 * - card_image_alt: string.
 * - headline: string.
 * - headline_url: string (url).
 * - body_slot: WYSIWYG (slot).
*/
#}


<umd-element-card-icon data-theme="">
  <img slot="image"
    src="{{ card_image }}"
    alt="{{ card_image_alt }}">
  <h2 slot="headline"><a href="{{ headline_url }}">{{ headline }}</a></h2>
  <div slot="text" class="umd-rich-text">
    {% block body_slot %}{% endblock %}
  </div>
</umd-element-card-icon>