  <umd-element-card>
    <img slot="image" src="https://brandportal.umd.edu/m/7be4cb700f7b7518/Hero_web-KnoxMural_06042018_8081.jpg"
      alt="required alt text" />
    <div slot="eyebrow">
      <p>Arts & Culture</p>
    </div>
    <div slot="headline">
      <h3>
        <a href="https://google.com">Lorem Ipsum Dolor Sit Amet Consect Adipiscing</a>
      </h3>
    </div>
    <div slot="text">
      <p>
        <strong>Duis aute irure dolor in reprehenderit in voluptate</strong>
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div slot="date">
      <time datetime="2025-01-01">January 1, 2025</time>
    </div>
  </umd-element-card>