{#
/**
 * @file
 * UMD Design System pathway highlight component.
 *
 * Available variables:
 * - highlight: string.
 * - highlight_attrib: string.
 * - eyebrow: string.
 * - headline: string.
 * - cta_slot: Call to Action (slot).
 * - body_slot: WYSIWYG (slot).
*/
#}

<umd-element-pathway-highlight>
  <p slot="highlight">
    {{ highlight }}
  </p>
  <p slot="highlight-attribution">
    - {{ highlight_attrib }}
  </p>
  <p slot="eyebrow">
    {{ eyebrow }}
  </p>
  <p slot="headline">
    {{ headline }}
  </p>
  <div slot="text">
    {% block body_slot %}{% endblock %}
  </div>
  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-pathway-highlight>

