<umd-element-breadcrumb>
  <div slot="paths">
    <a href="">Home</a>
    <a href="">Primary Link</a>
    <a href="">Secondary Link</a>
    <a href="">Tertiary Link</a>
    <a href="">Current Page</a>
  </div>
</umd-element-breadcrumb>
