<umd-element-event>
  <a slot="image" href="https://umd.edu" target="_blank">
    <img
      src="https://optimise2.assets-servd.host/umd-calendar/production/hero-images/MarylandDay_04302022_JC_8549-1.jpg?w=1920&h=1280&auto=compress%2Cformat&fit=crop&dm=1708548305&s=737ca875636998f36847b08a013a3eac"
      alt="Example Alt Text">
  </a>
  <h2 slot="headline">
    <a href="https://umd.edu">
      Maryland Day
    </a>
  </h2>
  <div slot="text">
    <p>
      Five learning neighborhoods. Hundreds of activities. One unforgettable day of fun and discovery.
    </p>
  </div>
  <div slot="start-date-iso">
    2024-04-27T10:00:00.000Z
  </div>

  <div slot="end-date-iso">
    2024-04-27T16:00:00.000Z
  </div>

  <div slot="location">
    Optional Location
  </div>
  {% block cta_slot %}{% endblock %}
</umd-element-event>
