<umd-element-alert-site>
  <h2 slot="headline">
    <a href="{{ headline_url }}">
      {{ headline }}
    </a>
  </h2>
  <div slot="body" class="umd-rich-text">
    {% block body_slot %}{% endblock %}
  </div>

  {% block cta_slot %}{% endblock %}
</umd-element-alert-site>
