<umd-element-carousel-thumbnail>
    <div slot="blocks">
        
                  
  
  
  <umd-element-card>
          <a slot="image" href="/" target="_blank">
        <img src="https://brandportal.umd.edu/m/4a5eb114b602516a/Hero_web-Students_03142024_DS_1898-tif.jpg" alt="Example Alt Text">
      </a>
    
          <p slot="eyebrow">Optional Eyebrow</p>
    
          <h2 slot="headline"><a href="#">Lorem Ipsum Dolor Si</a></h2>
    
          <div slot="text" class="umd-rich-text"><p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
    
            
        
  <umd-element-call-to-action slot="actions" type="secondary" theme="light">
    <a href="/"><span>Learn More</span></a>
  </umd-element-call-to-action>

      </umd-element-card>

        
                  
  
  
  <umd-element-card>
          <a slot="image" href="/" target="_blank">
        <img src="https://brandportal.umd.edu/m/31cbbc9b8e9c9100/Hero_web-FirstDayofClasses_01242024_RS_9425_DAM-jpg.jpg" alt="Example Alt Text">
      </a>
    
          <p slot="eyebrow">Optional Eyebrow</p>
    
          <h2 slot="headline"><a href="#">Lorem Ipsum Dolor Si</a></h2>
    
          <div slot="text" class="umd-rich-text"><p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
    
            
        
  <umd-element-call-to-action slot="actions" type="secondary" theme="light">
    <a href="/"><span>Learn More</span></a>
  </umd-element-call-to-action>

      </umd-element-card>

        
                  
  
  
  <umd-element-card>
          <a slot="image" href="/" target="_blank">
        <img src="https://brandportal.umd.edu/m/3d1771342b92587a/Hero_web-StartUpShell_02022023_JC_7124-tif.jpg" alt="Example Alt Text">
      </a>
    
          <p slot="eyebrow">Optional Eyebrow</p>
    
          <h2 slot="headline"><a href="#">Lorem Ipsum Dolor Si</a></h2>
    
          <div slot="text" class="umd-rich-text"><p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
    
    
            
        
  <umd-element-call-to-action slot="actions" type="secondary" theme="light">
    <a href="/"><span>Learn More</span></a>
  </umd-element-call-to-action>

      </umd-element-card>

        
                  
  
  
  <umd-element-card>
          <a slot="image" href="/" target="_blank">
        <img src="https://brandportal.umd.edu/m/5ef837692a741d01/Hero_web-CampusViews_10272023_RS_3685-tif.jpg" alt="Example Alt Text">
      </a>
    
          <p slot="eyebrow">Optional Eyebrow</p>
    
          <h2 slot="headline"><a href="#">Lorem Ipsum Dolor Si</a></h2>
    
          <div slot="text" class="umd-rich-text"><p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
    
            
        
  <umd-element-call-to-action slot="actions" type="secondary" theme="light">
    <a href="/"><span>Learn More</span></a>
  </umd-element-call-to-action>

      </umd-element-card>

        
                  
  
  
  <umd-element-card>
          <a slot="image" href="/" target="_blank">
        <img src="https://brandportal.umd.edu/m/1a33f090b49fb783/Hero_web-MEIH773_UrbanFarmIncubator_04262023_SC_9808-jpg.jpg" alt="Example Alt Text">
      </a>
    
          <p slot="eyebrow">Optional Eyebrow</p>
    
          <h2 slot="headline"><a href="#">Lorem Ipsum Dolor Si</a></h2>
    
          <div slot="text" class="umd-rich-text"><p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
    
            
        
  <umd-element-call-to-action slot="actions" type="secondary" theme="light">
    <a href="/"><span>Learn More</span></a>
  </umd-element-call-to-action>

      </umd-element-card>

        
                  
  
  
  <umd-element-card>
          <a slot="image" href="/" target="_blank">
        <img src="https://brandportal.umd.edu/m/6b520c11526cad65/Hero_web-MarchingBandPractice_08232023_JC_2588-tif.jpg" alt="Example Alt Text">
      </a>
    
          <p slot="eyebrow">Optional Eyebrow</p>
    
          <h2 slot="headline"><a href="#">Lorem Ipsum Dolor Si</a></h2>
    
          <div slot="text" class="umd-rich-text"><p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. </p></div>
    
            
        
  <umd-element-call-to-action slot="actions" type="secondary" theme="light">
    <a href="/"><span>Learn More</span></a>
  </umd-element-call-to-action>

      </umd-element-card>

    </div>
  </umd-element-carousel-thumbnail>
