{#
/**
 * @file
 * UMD Design System tabs component.
 *
 * Available variables:
 * - tabs: tabs (slot).
*/
#}

<umd-element-tabs resize>
  <div slot="tabs">
    {% block tabs_slot %}{% endblock %}
  </div>
</umd-element-tabs>