<umd-element-section-intro-wide>
  <h2 slot="headline">
    FROM MARYLAND TODAY
  </h2>

  <umd-element-call-to-action type="secondary" slot="actions">
    <a href="https://today.umd.edu/">
      <span>See all election related content</span>
    </a>
  </umd-element-call-to-action>
</umd-element-section-intro-wide>
