<umd-element-banner-promo theme="{{ theme }}">
  <p slot="headline">
    {{ headline }}
  </p>

  <div slot="text" class="umd-rich-text">
    {% block body_slot %}{% endblock %}
  </div>

  {% if cta %}
    <div slot="actions">
      {% block cta_slot %}{% endblock %}
    </div>
  {% endif %}
</umd-element-banner-promo>
