<umd-element-banner-promo data-theme="{{ theme }}">
  <p slot="headline">
    {{ headline }}
  </p>

  <div slot="text" class="umd-rich-text">
    {% block body_slot %}{% endblock %}
  </div>

  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-banner-promo>
