{#
/**
 * @file
 * UMD Design System Banner component.
 *
 * Available variables:
 * - theme: light or dark.
 * - headline: string.
 * - cta_slot: Call to Action (slot).
 * - body_slot: WYSIWYG body content (slot).
*/
#}

<umd-element-banner-promo data-theme="{{ theme }}">
  <p slot="headline">
    {{ headline }}
  </p>

  <div slot="text" class="umd-rich-text">
    {% block body_slot %}{% endblock %}
  </div>

  <div slot="actions">
    {% block cta_slot %}{% endblock %}
  </div>
</umd-element-banner-promo>
