{#
/**
 * @file
 * UMD Design System section intro component.
 *
 * Available variables:
 * - separator: string.
 * - theme: string. light or dark.
 * - headline: string.
 * - cta_slot: Call to Action (slot).
 * - body_slot: WYSIWYG (slot).
*/
#}


<umd-element-section-intro include-separator="{{ separator }}" data-theme="{{ theme }}">
  <h2 slot="headline">
    {{ headline }}
  </h2>
  <h2 slot="text">
    {% block body_slot %}{% endblock %}
  </h2>
  {% block cta_slot %}{% endblock %}
</umd-element-section-intro>
