<umd-element-section-intro include-separator="">
  <h2 slot="headline">
    FROM MARYLAND TODAY
  </h2>
  <h2 slot="text">
    We are activating fearless ideas for transformational impact by
    fostering research and industry partnerships, supporting small
    businesses, and nurturing the growth of next generation technology
    ventures.
  </h2>
  <umd-element-call-to-action type="secondary" slot="actions">
    <a href="/"><span>See all election related content</span></a>
  </umd-element-call-to-action>
</umd-element-section-intro>
